h1 {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
}

svg {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 50px;
    left: 40px;
    width: 900px;
    height: 500px;
    // max-width: 1000px;
    // z-index: -1;
}

div#main {
    display: flex;
    // justify-content: space-between;
}

div#block {
    // width: 1700px;
}

div#disease-options {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    z-index: 1;
}

#disease-options ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

div#context {
    display: flex;
    position: absolute;
    // justify-content: flex-end;
    left: 950px;
    right: 50px;
    top: 100px;
    max-width: 250px;
    min-width: 150px;
}

html {
    color-scheme: dark;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 500px;
    li {
        padding: 10px;
        list-style: none;
        z-index: 1;
    }
}