h1 {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
}

svg {
    display: flex;
    justify-content: flex-start;
    position: static;
}

div {
    // display: flex;
    // justify-content: flex-start;
}

html {
    color-scheme: dark;
}