h1 {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
}

svg {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 50px;
    left: 40px;
    width: 900px;
    height: 500px;
    z-index: 0;
    #copy {
        z-index: -0.05;
    }
}


div#disease-options {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 200px;
    z-index: 1;
}

#disease-options ul {
    position: relative;
    top: -60px;
}

#disease-options ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 7px;
}

#context {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    left: 950px;
    right: 50px;
    top: 80px;
    max-width: 400px;
    min-width: 185px;
}

html {
    color-scheme: dark;
}

#tooltip {
    color: blue;
    z-index: 2;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 500px;
    li {
        list-style: none;
        z-index: 1;
        button {
            padding: 10px;
        }
    }   
}



button {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
  }
  
  button:hover {
    background: #eee;
    color: black;
}

source-links ul {
    flex-direction: row;
    position: relative;
    top: 20px;
    li {
        padding: 10px;
    }
}

body#margin {
    min-width: 0px;
    max-width: 200px;
}



.slidecontainer {
    width: 600px; 
    position: relative;
    left: 250px;
    top: 10px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
